/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  background-color: #25233E;
}



h1 {text-align: center;}
h2{}
h3 {}
nav {background-color: #2C2A4A;}

.visualization {padding-top: 2%; height: 100vh; background-color: #343253;}
.chart-section {padding: 0;}
.chart-filters {padding:0; width: 50px;}
.chart-filters img {width:100%; /*border-bottom: solid 2px #E0E0E0;*/ padding: 15px 10px;}
.selected-chart {border-bottom: solid 3px #00AEF5;}
.input-form {background-color: #fff; margin-top: 5%; padding:2% 5%;}

.form-section {background-color: #30304f;}

#chart {height:80%;}
#chart .c3-legend-item {}
#filter-dropdown {}
#chart-title {text-align: center;}
#submit-button {}



/* navigation bar style */
#left-side-bar ul{
    height:550px;
    list-style:none;
    margin:0;
    padding:0;
    float:center;
    text-align:center;
    background-color: #25233E;
    }

#left-side-bar ul li {
    display:inline-block;
    width:100%;
    position:relative;
    float:center;
    background-color: #000d06;
    }

#left-side-bar ul li a {
    display:inline-block;
    line-height:50px;
    padding:0;
    color:#ffffff;
    }

#left-side-bar ul li li {float:center; color: #006633;  }
    
#left-side-bar ul li li a {display:block; font-size:12px;}
    
#left-side-bar ul li:hover {background:#003f20;}

/* --- Sublist Styles --- */
#left-side-bar ul ul{
    position:absolute;
    padding:0px;
    left:0;
    display:none;
    width:100%;
    }


/* --- Sublevel UL's display and position on hover --- */
#left-side-bar ul li:hover ul {display:block;} 
#left-side-bar ul li li:hover ul {margin-left:200px; margin-top:-35px; display:block;}

/* navigation bar style */